.board-phases {

}

.board-phases .board-phase-list {
    width: 270px;
    margin: 0 5px;
    height: 82%;
    display: inline-block;
    vertical-align: top;
}

.board-phases .board-phase-list .board-phase-list-content {
    background: #e2e4e6;
    border-radius: 3px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    white-space: normal;
    max-height: 95%;
    height: auto;
    padding: 0 !important;
}

.board-phases .board-phase-list .board-phase-list-content .board-phase-list-header {
    white-space: normal;
    position: relative;
    padding: 10px;
    font-size: 11px;
    font-weight: bold !important;
}

.board-phase-list-header h4 {
    margin-bottom: 0;
}

.board-phases .board-phase-column {
    overflow-y: overlay;
    padding: 5px;
}

.board-phases .board-phase-column::-webkit-scrollbar {
    width: 8px;
}

.board-phases .board-phase-column::-webkit-scrollbar-track {
    background-color: #d8dadc;
    border-radius: 5px;
}

.board-phases .board-phase-column::-webkit-scrollbar-thumb {
    background-color: #c7cacc;
    border-radius: 5px;
}

.board-phases .board-placeholder {
    background-color: #646E70;
    border-radius: 5px;
}

.box-board .box-title {
    font-size: 15px !important;
}

.box-board {
    overflow: hidden;
    position: relative;
    border: none !important;
    width: 97% !important;
    margin-bottom: 5px !important;
}

/*Ajustando regra do botão que não esatava validando */
.btn-group>.btn+.dropdown-toggle {
    height: 34px;
}

.boardcontent {
    padding-top: 0px !important;
}

.board-modal .comments .image img {
    width: 100%;
    max-width: 45px;
    height: auto;
}