.board-phases {  }
.board-phases .board-phase{}

.board-phases .coluna{ min-height: 100px !important; }
.board-phases .board-placeholder { border: 1px dotted black; height: 50px; margin: 20px 0px;}

/*Ajustando regra do botão que não esatava validando */
.btn-group>.btn+.dropdown-toggle { height: 34px; }
.boardcontent{	padding-top: 0px !important; }
.board-modal .comments .image img{ width: 100%; max-width: 45px; height: auto;}
.board-modal .actions .mylabel{ width: 100%; text-align: left; margin: 2px;}